body, html {
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#inspector-host, #scene-explorer-host {
  z-index: 999999;
  position: fixed !important;
}

#inspector-host select, #scene-explorer-host select,
#inspector-host input, #scene-explorer-host input {
  color: black !important;
}